# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Output / Temp data / Model weights
storage/pages/*
!storage/pages/.gitkeep
output.txt
*.pt

